<% include partials/header.ejs %>

  <style type="text/css">
  body {
    color: black;
    background-color:rgb(178, 238, 144) }
  </style>


  
  <div class="container">
      <h1> About me </h1>
      <img src="https://a1expressportfolio.herokuapp.com/images/photo.jpg" alt="logo" > </p>
      <h2> Dijia Zhang </h2>

      <p> Data analyst, Chemical Engineer </p>

      <p>Currently studying software engineering </p>

      <h4>Techinial Skills </h4>
    
      <ul>
        <li> Python, java</li>
        <li> AutoCAD, Aspen Plus, MATLAB </li>
        <li> PowerBI, Tableau </li>
      </ul>

      <p> Link to my resume:  </p>

      <p>Open a PDF file <a href="/public/cv/resume.pdf">link</a>.</p>
  </div>
 
  <% include partials/footer.ejs %>