<% include partials/header.ejs %>

  <style type="text/css">
  body {
    color: black;
    background-color:rgb(178, 238, 144) }
  </style>


  
  <div class="container">

    <h1> Weclcome! I'm always here to help you solve problem </h1>
  
    <img src="/images/logo.JPG" alt="logo" > </p>
  
    
    <h2> Dijia Zhang </h2>

    <p>Chemical Engineer, data analyst </p>

    <p>Currently studying software engineering </p>


  </div>
 
<% include partials/footer.ejs %>