<% include partials/header.ejs %>

  <style type="text/css">
  body {
    color: black;
    background-color:rgb(178, 238, 144) }
  </style>

  <h1> <%= title %> </h1>

  <div class="container">
    <h3>Predicting the Price of Bitcoin Using Maching Learning </h3>
    <ul>
      <li>Utilized training data includes Closing Price, Active addresses, Hash rate, total transaction fees per day, inflation index and various ETF</li>
      <li>Tunned machine learning models (especially LSTM models) with these preprocessed training data</li>
      <li>Developed a trading strategy beased on the normalized price prediction, which was able to achieve 135% annaul return</li>
    </ul>


    <h3> Smart system of Toronto daily homeless shelter occupancy </h3>
    <ul>
      <li> Used machine learnigng to analyze data and draw accurate and reliable conclusion to provide insight to audience </li>
      <li> Predicted Toronto daily homeless shelter occupancy rate base on historical weather and demographic data</li>
      <li> Evaluated the performance of different model/algorithms and selected the best one  </li>
      <li> The best regression model achieved 98% precision </li>
    </ul>


    <h3>COVID Dashboard </h3>
      <ul>
        <li>Worked on the COVID-19 dataset by European Centre for Disease Prevention and Control</li>
        <li> Cleaning and engineering the data for features</li>
        <li> Designed an interactive visualization dashboard using bokeh</li>
      </ul>

  </div>
  
<% include partials/footer.ejs %>

 
