
<% include partials/header.ejs %>

 <style type="text/css">
   body {
    color: black;
    background-color:rgb(178, 238, 144) }
 </style>



  <div class="container">
      <h1> Services </h1>

      <img src="/images/logo.JPG" alt="logo" > </p>

      <ul>
         <li> Data Analysis </li>
         <li> General Programming</li>
        <li> Engineering Consulting </li>
       </ul>
  </div> 

<% include partials/footer.ejs %>

