<% include partials/header.ejs %>
<style type="text/css">
  body {
    color: black;
    background-color:rgb(178, 238, 144) }
  </style>

  <h1><%= title %></h1>
  <p>Welcome to the website!</p>

<% include partials/footer.ejs %>
